#Animation {
    background: burlywood;
    border-style: dotted;
    position: relative;
    animation: mymove 5s infinite;
}

.Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    border:dotted;
}

.Floated {
    float: right;
}

.Pic {
    position: absolute;
    top: 50%;
    left: 50%;
}